<div class="income p-md-5 my-5 p-sm-3">
    <section class="content-header mb-4">
        <div class="container-fluid">
            <h1 class="text-primary-emphasis">Редактирование категории доходов</h1>
        </div>
    </section>

    <section class="content mt-3">
        <div class="container-fluid">
            <div class="form-group row mb-3">
                <div class="col-xl-4 col-md-7 col-sm-9">
                    <input type="text" class="form-control" id="nameInput" placeholder="Название...">
                    <span id="nameInput-error" class="error invalid-feedback">Заполните поле</span>
                </div>
            </div>
            <div class="form-group mt-1">
                <button class="btn btn-success me-2" id="saveButton" type="button">Сохранить</button>
                <a href="/income" class="btn btn-danger" id="cancelButton" type="button">Отмена</a>
            </div>
        </div>
    </section>
</div>